Meeting Coordinator with google meet.json
{
  "name": "Meeting Coordinator with google meet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d793f0dd-778f-48e6-bfea-e1e6eb45a561",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5bbdc55-1c3c-4d0e-b7c4-22b3e20138e2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "d793f0dd-778f-48e6-bfea-e1e6eb45a561"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"meetingUrl\": $json.meetingUri } }}",
        "options": {}
      },
      "id": "d75ec114-a829-4d6b-81e3-1cfbd3f7e027",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://meet.googleapis.com/v2/spaces",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"config\": {\n    \"accessType\": \"OPEN\",\n    \"entryPointAccess\": \"ALL\"\n  }\n}",
        "options": {}
      },
      "id": "1e6f57a3-2cf0-43d2-bd45-3436dd1bdbb4",
      "name": "Create Meet Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        288
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "VROLnLVOGl95LgxA",
          "name": "Google account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Meet Space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Meet Space": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "95ae0727-da99-47d5-ab45-ed58f3dab14a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1841bf2981fe9616fb8381107857099c2c4381f0f4f2ceaec11bd893781c492a"
  },
  "id": "E0mKZ8oxrRIs9Gd4",
  "tags": []
}